.moves-list {
  margin-top: 3rem;
  background-color: rgba(22, 156, 240, 0.164);
  border-radius: 5px;
  height: fit-content;
  max-height: 362px;
  padding: 10px 20px;
  overflow-y: scroll;

  > *:not(:last-child) {
    margin-bottom: 20px;
  }

  .move-list-title {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 20px;
  }

}
.no-moves {
  font-size: 2rem;
  margin-top: 3rem;
  background-color: rgba(22, 156, 240, 0.164);
  border-radius: 5px;
  height: fit-content;
  padding: 10px 20px;
}
