.chart {
  background-color: white;
  border-radius: 4px;
  padding: 10px 20px 20px 10px;
  color: rgb(41, 41, 41);
  font-weight: bold;

  h2 {
    margin-bottom: 10px;
    text-align: center;
    font-weight: bold;
  }

  .desc {
    margin-bottom: 15px;
    font-size: 1.1rem;
    text-align: center;
    font-weight: bold;
  }

  g {
      font-size: 1.1rem;
  }

  .recharts-legend-wrapper {
    position: static !important;
    width: unset !important;
    font-size: 1.2rem;
    font-weight: bold;
    font-weight: bold;
  }

  .recharts-layer {
    path {
      stroke-width: 3;
    }

    circle {
    //   stroke-width: 3;
      display: none;
    }
  }
}
