.statistcs-page {
  padding: 5rem 0;
  .statistcs-title {
    font-size: 2.7rem;
    font-weight: bold;
    margin-bottom: 2.5rem;
  }

  .chart1-container,
  .chart2-container {
    margin-bottom: 4rem;
  }
}
