.signup-page {
    min-height: calc(100vh - 40px); 
    padding-top: 5rem;
    padding-bottom: 3rem;    
    font-size: 1.3rem;

    .bitcoin-img {
        width: 150px;
        margin-bottom: 3rem;
    }

    label {
        margin-bottom: 15px;
    }

    input {
        padding: 10px 15px;
        width: 250px;
        margin-bottom: 10px;
        border-radius: 5px;
        border: 2px solid rgb(48, 48, 48);
        outline: none;
    }

    button {
        margin-top: 3rem;
        padding: 8px 12px;
        border-radius: 4px;
        margin-left: 15px;
        background-color: rgb(22, 82, 240);
        color: white;
        font-size: 1.2rem;
        height: 42px;
        &:hover {
            background-color: transparent;
            border: 2px solid  rgb(22, 82, 240);
            color: unset;
        }
    }

    .validation-error {
        font-size: 1.1rem;
    }
}